.abc {
    font-family: "'Helvetica Neue', Helvetica, sans-serif";  font-size: 1.1em;
}

blockquote{
  font-family: "'Helvetica Neue', Helvetica, sans-serif";  font-size: 1.4em;
  width:60%;
  font-weight: 300;
  margin:50px auto;
  font-family:Open Sans;
  font-style: normal;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #333 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}



blockquote span{
  display:block;
  color:#333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}